    <header class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="/">Начало <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Шаблоны</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/create-template">Создание шаблона</a>
              <a class="dropdown-item" href="/view-templatemail">Просмотр шаблонов</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Списки рассылок</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/create-maillist">Создание списка</a>
                <a class="dropdown-item" href="/view-maillist">Просмотр списка</a>
              </div>
          </li>       
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Отправка</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/create-task">Создание отправки</a>
                <a class="dropdown-item" href="/view-task-done">История отправок</a>
              </div>
          </li>       
          <li class="nav-item">
            <a class="nav-link" href="/about">О проекте</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">АйЯйРассылка</h3>
    </header>