    <header class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="/">Начало <span class="sr-only">(current)</span></a>
          </li>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Dropdown
                <span class="caret"></span>
              </button>
            <ul class="dropdown-menu">
              <li><a href="#">Dropdown ссылка</a></li>
              <li><a href="#">Dropdown ссылка</a></li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/create-template">Создание шаблона</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create-maillist">Создание списка рассылки</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Sender Emails</h3>
    </header>