    <header class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="/">Начало <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create-template">Создание шаблона</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create-maillist">Создание списка рассылки</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Sender Emails</h3>
    </header>

