<div class="wrapper row2">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <section id="fof" class="clear">
        <!-- ####################################################################################################### -->
        <div class="hgroup">
          <h1><span><strong>5</strong></span><span><strong>0</strong></span><span><strong>0</strong></span></h1>
          <h2>Error ! <span>Internal Server Error</span></h2>
        </div>
        <p></p>
        <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="/">Go Home &raquo;</a></p>
        <!-- ####################################################################################################### -->
      </section>
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
    </div>
  </div>