{% extends 'layout.html' %}

{% import "bootstrap/wtf.html" as wtf %}


{% block body %}
    {% include "includes/_messages.html" %}
    {% from "includes/_formhelpers.html" import render_field %}
    <br>
    <p>
      Нужно выбрать список расслки и шаблон письма и нажмите кнопку Отправить       
  </p>
    <form target="_self" enctype="multipart/form-data" method="post">	
		<p>
			{{form.submit }}		
    </p>

    <p>
        {{render_field(form.name_task) }}		
    </p>
    
    <div class="row marketing">
      <div class="col-lg-6">
        <h4>{{ form.name_maillist.label }}</h4>
        <p> {{ form.name_maillist() }} </p>

        <h5>Содержимое</h5>
        <p>
          <textarea class="form-control" rows="15%" disabled="true">                            
              пусто
            </textarea>
        </p>
      </div>

      <div class="col-lg-6">
        <h4>{{ form.name_templatemail.label }}</h4>
        <p> {{ form.name_templatemail }} </p>

        <h5>Содержимое</h5>
        <p>
          <textarea class="form-control" rows="15%" disabled="true">                            
            пусто
          </textarea>
        </p>
        
      </div>
    </div>
 
</form>

{% endblock %}