{% extends 'layout.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
	{% from "includes/_formhelpers.html" import render_field %}

    Изменить шаблон письма <br><br>
	<form class="form form-horizontal" method="post" role="form">
		{{ form.csrf }}
		<p>
				{{ wtf.form_field(form.submit, class="btn btn-success") }}		
		</p>

		<p>		
			{{ wtf.form_field(form.subjectmail) }}
		</p>
		<p>	
			{{ wtf.form_field(form.messagemail, class="form-control", rows="25%") }}	
		</p>
		
	</form>

{% endblock %}