{% extends 'layout.html' %}

{% import "bootstrap/wtf.html" as wtf %}


{% block body %}
    {% include "includes/_messages.html" %}
    {% from "includes/_formhelpers.html" import render_field %}
    <br>
    <p>
      Нужно выбрать список расслки и шаблон письма и нажмите кнопку Отправить       
  </p>
    <form target="_self" enctype="multipart/form-data" method="post">	
		<p>
			{{form.submit }}		
    </p>
    
    <p>
      {{ form.name_maillist() }}
    </p>

         <p>
          {{ form.name_templatemail }}
        </p>
	</form>

{% endblock %}