{% extends 'layout.html' %}



{% block body %}  
  {% include "includes/_messages.html" %}
            <main role="main">
        
                <div class="jumbotron">
                  <h1 class="display-3">АйЯйРассылка</h1>
                  <p class="lead">Создай шаблон, создай список получателей рассылки и нажми отправить. Всё просто!</p>
                  <p><a class="btn btn-lg btn-success" href="/create-template" role="button">Создать шаблон</a></p>
                </div>
        
              </main>
{% endblock %}