{% extends 'layout.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
	{% include "includes/_messages.html" %}
	{% from "includes/_formhelpers.html" import render_field %}
<p>
    <table border="1" cellpadding="7" cellspacing="0" class="table table-striped table-hover table-condensed " >
        <tr>
            <td align="center">Название списка</td>
            <td align="center">Тема письма</td>  
            <td align="center">Содержимое письма</td>          
        </tr>
    
        {% for ind in data %}
                <tr>
                    <td>{{ ind["name_file"] }}</td>
                    <td>{{ ind["subject"] }}</td> 
                    <td>
                        <textarea class="form-control" rows="15%" disabled="true">                            
                        {{ ind["template"] }}
                        </textarea>
                    </td>                    
                </tr>
        {% endfor %}
        <table>
</p>

{% endblock %}